# Node
node_modules/
.next/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env*.local
.env*.production

# IDE
.idea/
.vscode/
*.iml
out/
.kotlin/

# OS
.DS_StoreThumbs.db

# Build
dist/
build/
*.tsbuildinfo

# Vercel
.vercel/
